# 0-3: Pandas

ë°ì´í„° ë¶„ì„ì˜ í•µì‹¬ ë¼ì´ë¸ŒëŸ¬ë¦¬ Pandasë¥¼ í•™ìŠµí•©ë‹ˆë‹¤.

## í•™ìŠµ ëª©í‘œ
1. DataFrame ìƒì„± ë° ê¸°ë³¸ ì •ë³´ í™•ì¸
2. ì»¬ëŸ¼ ì„ íƒ
3. í–‰ í•„í„°ë§ (ì¡°ê±´)
4. groupby ì§‘ê³„
5. merge (í…Œì´ë¸” ì¡°ì¸)
6. ê²°ì¸¡ì¹˜ ì²˜ë¦¬

In [1]:
import pandas as pd
import numpy as np
print(f"pandas: {pd.__version__}")

pandas: 2.3.3

---
## 1. DataFrame ìƒì„±

In [2]:
# ğŸ“š ë”•ì…”ë„ˆë¦¬ë¡œ DataFrame ìƒì„±
data = {
    'name': ['í™ê¸¸ë™', 'ê¹€ì² ìˆ˜', 'ì´ì˜í¬'],
    'age': [25, 30, 28],
    'city': ['ì„œìš¸', 'ë¶€ì‚°', 'ì„œìš¸']
}
df = pd.DataFrame(data)
df

  name  age city
0  í™ê¸¸ë™   25   ì„œìš¸
1  ê¹€ì² ìˆ˜   30   ë¶€ì‚°
2  ì´ì˜í¬   28   ì„œìš¸

In [3]:
# ğŸ“š ê¸°ë³¸ ì •ë³´ í™•ì¸
print("shape:", df.shape)  # (í–‰, ì—´)
print()
print("dtypes:")
print(df.dtypes)
print()
print("info:")
df.info()

shape: (3, 3)

dtypes:
name    object
age      int64
city    object
dtype: object

info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      object
 1   age     3 non-null      int64
 2   city    3 non-null      object
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes

In [4]:
# ğŸ“š head(), tail()
print("head(2):")
print(df.head(2))
print()
print("tail(1):")
print(df.tail(1))

head(2):
  name  age city
0  í™ê¸¸ë™   25   ì„œìš¸
1  ê¹€ì² ìˆ˜   30   ë¶€ì‚°

tail(1):
  name  age city
2  ì´ì˜í¬   28   ì„œìš¸

### ğŸ’» ì‹¤ìŠµ 1: DataFrame ìƒì„±

ê±°ë˜ ë°ì´í„° DataFrameì„ ìƒì„±í•˜ì„¸ìš”.

In [12]:
# ğŸ’» ì‹¤ìŠµ 1
# TODO: ì•„ë˜ ë°ì´í„°ë¡œ DataFrame ìƒì„±
# - transaction_id: [1, 2, 3, 4, 5]
# - amount: [10000, 50000, 3000, 120000, 8000]
# - is_fraud: [False, False, False, True, False]

transactions = {
    'transaction_id': [1, 2, 3, 4, 5],
    'amount': [10000, 50000, 3000, 120000, 8000],
    'is_fraud': [False, False, False, True, False]
}# TODO

transactions = pd.DataFrame(transactions)
transactions

   transaction_id  amount  is_fraud
0               1   10000     False
1               2   50000     False
2               3    3000     False
3               4  120000      True
4               5    8000     False

In [9]:
# ì²´í¬í¬ì¸íŠ¸ 1
assert transactions.shape == (5, 3), "shapeì´ (5, 3)ì´ì–´ì•¼ í•¨"
assert list(transactions.columns) == ['transaction_id', 'amount', 'is_fraud'], "ì»¬ëŸ¼ëª… í™•ì¸"
assert transactions['amount'].sum() == 191000, "amount í•©ê³„"

print("âœ… ì²´í¬í¬ì¸íŠ¸ 1 í†µê³¼!")

âœ… ì²´í¬í¬ì¸íŠ¸ 1 í†µê³¼!

---
## 2. ì»¬ëŸ¼ ì„ íƒ

In [16]:
# ğŸ“š ë‹¨ì¼ ì»¬ëŸ¼ ì„ íƒ â†’ Series
df = pd.DataFrame({
    'name': ['í™ê¸¸ë™', 'ê¹€ì² ìˆ˜', 'ì´ì˜í¬'],
    'age': [25, 30, 28],
    'city': ['ì„œìš¸', 'ë¶€ì‚°', 'ì„œìš¸']
})

ages = df['age']
print(type(ages))  # Series
print(ages)

<class 'pandas.core.series.Series'>
0    25
1    30
2    28
Name: age, dtype: int64

In [14]:
# ğŸ“š ë‹¤ì¤‘ ì»¬ëŸ¼ ì„ íƒ â†’ DataFrame
subset = df[['name', 'age']]
print(type(subset))  # DataFrame
subset

<class 'pandas.core.frame.DataFrame'>

  name  age
0  í™ê¸¸ë™   25
1  ê¹€ì² ìˆ˜   30
2  ì´ì˜í¬   28

### ğŸ’» ì‹¤ìŠµ 2: ì»¬ëŸ¼ ì„ íƒ

transactionsì—ì„œ í•„ìš”í•œ ì»¬ëŸ¼ë§Œ ì„ íƒí•˜ì„¸ìš”.

In [31]:
# ğŸ’» ì‹¤ìŠµ 2
# TODO: amount ì»¬ëŸ¼ë§Œ ì„ íƒ (Series)
amounts = transactions['amount']
# TODO: transaction_id, amount ë‘ ì»¬ëŸ¼ ì„ íƒ (DataFrame)
subset = transactions[['transaction_id', 'amount']]

print("amounts type:", type(amounts))
print("subset type:", type(subset))
print()
print(amounts)
print(subset)

amounts type: <class 'pandas.core.series.Series'>
subset type: <class 'pandas.core.frame.DataFrame'>

0     10000
1     50000
2      3000
3    120000
4      8000
Name: amount, dtype: int64
   transaction_id  amount
0               1   10000
1               2   50000
2               3    3000
3               4  120000
4               5    8000

In [32]:
# ì²´í¬í¬ì¸íŠ¸ 2
assert isinstance(amounts, pd.Series), "amountsëŠ” Series"
assert isinstance(subset, pd.DataFrame), "subsetì€ DataFrame"
assert list(subset.columns) == ['transaction_id', 'amount'], "ì»¬ëŸ¼ í™•ì¸"

print("âœ… ì²´í¬í¬ì¸íŠ¸ 2 í†µê³¼!")

âœ… ì²´í¬í¬ì¸íŠ¸ 2 í†µê³¼!

---
## 3. í–‰ í•„í„°ë§

In [33]:
# ğŸ“š ì¡°ê±´ìœ¼ë¡œ í–‰ í•„í„°ë§
df = pd.DataFrame({
    'name': ['í™ê¸¸ë™', 'ê¹€ì² ìˆ˜', 'ì´ì˜í¬', 'ë°•ë¯¼ìˆ˜'],
    'age': [25, 30, 28, 35],
    'city': ['ì„œìš¸', 'ë¶€ì‚°', 'ì„œìš¸', 'ëŒ€ì „']
})

# ë‚˜ì´ 30 ì´ìƒ
over_30 = df[df['age'] >= 30]
print("30ì„¸ ì´ìƒ:")
print(over_30)

30ì„¸ ì´ìƒ:
  name  age city
1  ê¹€ì² ìˆ˜   30   ë¶€ì‚°
3  ë°•ë¯¼ìˆ˜   35   ëŒ€ì „

In [34]:
# ğŸ“š ë³µí•© ì¡°ê±´ (&, |)
# ì„œìš¸ì´ë©´ì„œ ë‚˜ì´ 25 ì´ìƒ
filtered = df[(df['city'] == 'ì„œìš¸') & (df['age'] >= 25)]
print("ì„œìš¸ & 25ì„¸ ì´ìƒ:")
print(filtered)

ì„œìš¸ & 25ì„¸ ì´ìƒ:
  name  age city
0  í™ê¸¸ë™   25   ì„œìš¸
2  ì´ì˜í¬   28   ì„œìš¸

### ğŸ’» ì‹¤ìŠµ 3: í–‰ í•„í„°ë§

transactionsì—ì„œ ì¡°ê±´ì— ë§ëŠ” í–‰ì„ í•„í„°ë§í•˜ì„¸ìš”.

In [42]:
# ğŸ’» ì‹¤ìŠµ 3
# TODO: 50000ì› ì´ìƒ ê±°ë˜
high_amount = transactions[transactions['amount']>=50000]

# TODO: ì‚¬ê¸° ê±°ë˜ (is_fraud == True)
fraud = transactions[transactions['is_fraud'] == True]

# TODO: 10000ì› ì´ìƒì´ê³  ì‚¬ê¸°ê°€ ì•„ë‹Œ ê±°ë˜
normal_high = transactions[(transactions['amount']>=10000) & (transactions['is_fraud'] == False)]

print("50000ì› ì´ìƒ:")
print(high_amount)
print()
print("ì‚¬ê¸° ê±°ë˜:")
print(fraud)
print()
print("10000ì› ì´ìƒ & ì •ìƒ:")
print(normal_high)

50000ì› ì´ìƒ:
   transaction_id  amount  is_fraud
1               2   50000     False
3               4  120000      True

ì‚¬ê¸° ê±°ë˜:
   transaction_id  amount  is_fraud
3               4  120000      True

10000ì› ì´ìƒ & ì •ìƒ:
   transaction_id  amount  is_fraud
0               1   10000     False
1               2   50000     False

In [43]:
# ì²´í¬í¬ì¸íŠ¸ 3
assert len(high_amount) == 2, "50000ì› ì´ìƒ ê±°ë˜ 2ê±´"
assert len(fraud) == 1, "ì‚¬ê¸° ê±°ë˜ 1ê±´"
assert len(normal_high) == 2, "10000ì› ì´ìƒ ì •ìƒ ê±°ë˜ 2ê±´"

print("âœ… ì²´í¬í¬ì¸íŠ¸ 3 í†µê³¼!")

âœ… ì²´í¬í¬ì¸íŠ¸ 3 í†µê³¼!

---
## 4. groupby

In [44]:
# ğŸ“š groupby ê¸°ì´ˆ
df = pd.DataFrame({
    'category': ['A', 'B', 'A', 'B', 'A'],
    'value': [10, 20, 30, 40, 50]
})

# ì¹´í…Œê³ ë¦¬ë³„ í•©ê³„
print("ì¹´í…Œê³ ë¦¬ë³„ í•©ê³„:")
print(df.groupby('category')['value'].sum())
print()

# ì¹´í…Œê³ ë¦¬ë³„ í‰ê· 
print("ì¹´í…Œê³ ë¦¬ë³„ í‰ê· :")
print(df.groupby('category')['value'].mean())

ì¹´í…Œê³ ë¦¬ë³„ í•©ê³„:
category
A    90
B    60
Name: value, dtype: int64

ì¹´í…Œê³ ë¦¬ë³„ í‰ê· :
category
A    30.0
B    30.0
Name: value, dtype: float64

In [45]:
# ğŸ“š agg()ë¡œ ì—¬ëŸ¬ ì§‘ê³„
result = df.groupby('category')['value'].agg(['sum', 'mean', 'count'])
result

          sum  mean  count
category
A          90  30.0      3
B          60  30.0      2

### ğŸ’» ì‹¤ìŠµ 4: groupby

ê±°ë˜ ë°ì´í„°ë¥¼ ì‚¬ê¸° ì—¬ë¶€ë³„ë¡œ ì§‘ê³„í•˜ì„¸ìš”.

In [53]:
# ğŸ’» ì‹¤ìŠµ 4
# TODO: is_fraudë³„ ê±°ë˜ ê±´ìˆ˜
fraud_count = transactions.groupby('is_fraud')['transaction_id'].count()

# TODO: is_fraudë³„ í‰ê·  ê±°ë˜ì•¡
fraud_avg = transactions.groupby('is_fraud')['amount'].mean()

print("ì‚¬ê¸° ì—¬ë¶€ë³„ ê±´ìˆ˜:")
print(fraud_count)
print()
print("ì‚¬ê¸° ì—¬ë¶€ë³„ í‰ê·  ê±°ë˜ì•¡:")
print(fraud_avg)

ì‚¬ê¸° ì—¬ë¶€ë³„ ê±´ìˆ˜:
is_fraud
False    4
True     1
Name: transaction_id, dtype: int64

ì‚¬ê¸° ì—¬ë¶€ë³„ í‰ê·  ê±°ë˜ì•¡:
is_fraud
False     17750.0
True     120000.0
Name: amount, dtype: float64

In [54]:
# ì²´í¬í¬ì¸íŠ¸ 4
assert fraud_count[False] == 4, "ì •ìƒ ê±°ë˜ 4ê±´"
assert fraud_count[True] == 1, "ì‚¬ê¸° ê±°ë˜ 1ê±´"
assert fraud_avg[True] == 120000, "ì‚¬ê¸° ê±°ë˜ í‰ê· "

print("âœ… ì²´í¬í¬ì¸íŠ¸ 4 í†µê³¼!")

âœ… ì²´í¬í¬ì¸íŠ¸ 4 í†µê³¼!

---
## 5. merge (ì¡°ì¸)

In [55]:
# ğŸ“š merge ê¸°ì´ˆ
# ê±°ë˜ í…Œì´ë¸”
tx = pd.DataFrame({
    'tx_id': [1, 2, 3],
    'user_id': [101, 102, 101],
    'amount': [5000, 8000, 3000]
})

# ì‚¬ìš©ì í…Œì´ë¸”
users = pd.DataFrame({
    'user_id': [101, 102, 103],
    'name': ['í™ê¸¸ë™', 'ê¹€ì² ìˆ˜', 'ì´ì˜í¬']
})

print("ê±°ë˜:")
print(tx)
print()
print("ì‚¬ìš©ì:")
print(users)

ê±°ë˜:
   tx_id  user_id  amount
0      1      101    5000
1      2      102    8000
2      3      101    3000

ì‚¬ìš©ì:
   user_id name
0      101  í™ê¸¸ë™
1      102  ê¹€ì² ìˆ˜
2      103  ì´ì˜í¬

In [56]:
# ğŸ“š INNER JOIN (êµì§‘í•©)
merged = pd.merge(tx, users, on='user_id', how='inner')
print("INNER JOIN:")
merged

INNER JOIN:

   tx_id  user_id  amount name
0      1      101    5000  í™ê¸¸ë™
1      2      102    8000  ê¹€ì² ìˆ˜
2      3      101    3000  í™ê¸¸ë™

In [57]:
# ğŸ“š LEFT JOIN (ì™¼ìª½ ê¸°ì¤€)
merged = pd.merge(tx, users, on='user_id', how='left')
print("LEFT JOIN:")
merged

LEFT JOIN:

   tx_id  user_id  amount name
0      1      101    5000  í™ê¸¸ë™
1      2      102    8000  ê¹€ì² ìˆ˜
2      3      101    3000  í™ê¸¸ë™

### ğŸ’» ì‹¤ìŠµ 5: merge

ê±°ë˜ì™€ ì¹´ë“œ ì •ë³´ë¥¼ ì¡°ì¸í•˜ì„¸ìš”.

In [58]:
# ğŸ’» ì‹¤ìŠµ 5
# ê±°ë˜ ë°ì´í„°
tx = pd.DataFrame({
    'tx_id': [1, 2, 3, 4],
    'card_id': ['C001', 'C002', 'C001', 'C003'],
    'amount': [10000, 25000, 5000, 80000]
})

# ì¹´ë“œ ë°ì´í„°
cards = pd.DataFrame({
    'card_id': ['C001', 'C002'],
    'card_type': ['ì‹ ìš©', 'ì²´í¬']
})

# TODO: LEFT JOINìœ¼ë¡œ ê±°ë˜ì— ì¹´ë“œ íƒ€ì… ë¶™ì´ê¸°
result = pd.merge(tx, cards, on='card_id', how='left')

result

   tx_id card_id  amount card_type
0      1    C001   10000        ì‹ ìš©
1      2    C002   25000        ì²´í¬
2      3    C001    5000        ì‹ ìš©
3      4    C003   80000       NaN

In [59]:
# ì²´í¬í¬ì¸íŠ¸ 5
assert len(result) == 4, "4ê±´ ìœ ì§€"
assert 'card_type' in result.columns, "card_type ì»¬ëŸ¼ ì¡´ì¬"
assert pd.isna(result.loc[result['card_id'] == 'C003', 'card_type'].values[0]), "C003ì€ NaN"

print("âœ… ì²´í¬í¬ì¸íŠ¸ 5 í†µê³¼!")

âœ… ì²´í¬í¬ì¸íŠ¸ 5 í†µê³¼!

---
## 6. ê²°ì¸¡ì¹˜ ì²˜ë¦¬

In [60]:
# ğŸ“š ê²°ì¸¡ì¹˜ í™•ì¸
df = pd.DataFrame({
    'A': [1, 2, np.nan, 4],
    'B': [np.nan, 2, 3, 4],
    'C': [1, 2, 3, 4]
})

print("ë°ì´í„°:")
print(df)
print()
print("ê²°ì¸¡ì¹˜ ê°œìˆ˜:")
print(df.isna().sum())

ë°ì´í„°:
     A    B  C
0  1.0  NaN  1
1  2.0  2.0  2
2  NaN  3.0  3
3  4.0  4.0  4

ê²°ì¸¡ì¹˜ ê°œìˆ˜:
A    1
B    1
C    0
dtype: int64

In [61]:
# ğŸ“š fillna(): ê²°ì¸¡ì¹˜ ì±„ìš°ê¸°
filled = df.fillna(0)
print("0ìœ¼ë¡œ ì±„ìš°ê¸°:")
print(filled)
print()

# í‰ê· ìœ¼ë¡œ ì±„ìš°ê¸°
filled_mean = df.fillna(df.mean())
print("í‰ê· ìœ¼ë¡œ ì±„ìš°ê¸°:")
print(filled_mean)

0ìœ¼ë¡œ ì±„ìš°ê¸°:
     A    B  C
0  1.0  0.0  1
1  2.0  2.0  2
2  0.0  3.0  3
3  4.0  4.0  4

í‰ê· ìœ¼ë¡œ ì±„ìš°ê¸°:
          A    B  C
0  1.000000  3.0  1
1  2.000000  2.0  2
2  2.333333  3.0  3
3  4.000000  4.0  4

In [62]:
# ğŸ“š dropna(): ê²°ì¸¡ì¹˜ í–‰ ì œê±°
dropped = df.dropna()
print("ê²°ì¸¡ì¹˜ í–‰ ì œê±°:")
print(dropped)

ê²°ì¸¡ì¹˜ í–‰ ì œê±°:
     A    B  C
1  2.0  2.0  2
3  4.0  4.0  4

### ğŸ’» ì‹¤ìŠµ 6: ê²°ì¸¡ì¹˜ ì²˜ë¦¬

ê±°ë˜ ë°ì´í„°ì˜ ê²°ì¸¡ì¹˜ë¥¼ ì²˜ë¦¬í•˜ì„¸ìš”.

In [69]:
# ğŸ’» ì‹¤ìŠµ 6
df = pd.DataFrame({
    'tx_id': [1, 2, 3, 4, 5],
    'amount': [10000, np.nan, 5000, np.nan, 8000],
    'category': ['ì‹í’ˆ', 'ì˜ë¥˜', None, 'ì‹í’ˆ', 'ì˜ë¥˜']
})

print("ì›ë³¸:")
print(df)
print()

# TODO: amount ê²°ì¸¡ì¹˜ ê°œìˆ˜
amount_na_count = df['amount'].isna().sum()

# TODO: amount ê²°ì¸¡ì¹˜ë¥¼ í‰ê· ìœ¼ë¡œ ì±„ìš°ê¸°
df_filled = df.copy()
df_filled['amount'] = df['amount'].fillna(df['amount'].mean())  # TODO: fillna ì‚¬ìš©

# TODO: category ê²°ì¸¡ì¹˜ë¥¼ 'ê¸°íƒ€'ë¡œ ì±„ìš°ê¸°
df_filled['category'] = df['category'].fillna('ê¸°íƒ€')  # TODO: fillna ì‚¬ìš©

print(f"amount ê²°ì¸¡ì¹˜: {amount_na_count}ê°œ")
print()
print("ì±„ìš´ í›„:")
print(df_filled)

ì›ë³¸:
   tx_id   amount category
0      1  10000.0       ì‹í’ˆ
1      2      NaN       ì˜ë¥˜
2      3   5000.0     None
3      4      NaN       ì‹í’ˆ
4      5   8000.0       ì˜ë¥˜

amount ê²°ì¸¡ì¹˜: 2ê°œ

ì±„ìš´ í›„:
   tx_id        amount category
0      1  10000.000000       ì‹í’ˆ
1      2   7666.666667       ì˜ë¥˜
2      3   5000.000000       ê¸°íƒ€
3      4   7666.666667       ì‹í’ˆ
4      5   8000.000000       ì˜ë¥˜

In [70]:
# ì²´í¬í¬ì¸íŠ¸ 6
assert amount_na_count == 2, "amount ê²°ì¸¡ì¹˜ 2ê°œ"
assert df_filled['amount'].isna().sum() == 0, "amount ê²°ì¸¡ì¹˜ ì—†ì–´ì•¼ í•¨"
assert df_filled['category'].isna().sum() == 0, "category ê²°ì¸¡ì¹˜ ì—†ì–´ì•¼ í•¨"
assert df_filled.loc[2, 'category'] == 'ê¸°íƒ€', "category ê²°ì¸¡ì¹˜ëŠ” 'ê¸°íƒ€'"

print("âœ… ì²´í¬í¬ì¸íŠ¸ 6 í†µê³¼!")

âœ… ì²´í¬í¬ì¸íŠ¸ 6 í†µê³¼!

---
## âœ… ìµœì¢… ì²´í¬í¬ì¸íŠ¸

In [71]:
print("="*50)
print("ğŸ‰ 0-3 ì™„ë£Œ: Pandas")
print("="*50)
print()
print("ë°°ìš´ ê²ƒ:")
print("  - DataFrame ìƒì„±: pd.DataFrame(dict)")
print("  - ì»¬ëŸ¼ ì„ íƒ: df['col'], df[['a', 'b']]")
print("  - í–‰ í•„í„°ë§: df[df['col'] > 0]")
print("  - groupby: df.groupby('col').mean()")
print("  - merge: pd.merge(df1, df2, on='key')")
print("  - ê²°ì¸¡ì¹˜: isna(), fillna(), dropna()")
print()
print("ë‹¤ìŒ: 0-4 Matplotlib")

==================================================
ğŸ‰ 0-3 ì™„ë£Œ: Pandas
==================================================

ë°°ìš´ ê²ƒ:
  - DataFrame ìƒì„±: pd.DataFrame(dict)
  - ì»¬ëŸ¼ ì„ íƒ: df['col'], df[['a', 'b']]
  - í–‰ í•„í„°ë§: df[df['col'] > 0]
  - groupby: df.groupby('col').mean()
  - merge: pd.merge(df1, df2, on='key')
  - ê²°ì¸¡ì¹˜: isna(), fillna(), dropna()

ë‹¤ìŒ: 0-4 Matplotlib